/* signup.css */
body {
  margin: 0;
  padding: 0;
  background-image: url('../../../user-image.jpg'); /* Replace with your image file path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Change height to min-height */
  background-color: rgba(255, 255, 255, 0.186); /* Add background overlay with transparency */
  backdrop-filter: blur(10px); /* Optional: Apply a blur effect to the background */
}

.UX-center-container {
  background: #ffffff09;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
}
  
  .ux-components {
    margin: 20px 0;
  }
  
  .signup-heading {
    font-size: 39px;
    margin: 0 0 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#ffff;
  }
  
  .email-component,
  .name-component,
  .password-component {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .submit-button {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
  }
  
  .submit-button:hover {
    background: #0056b3;
  }

  .UX-button-container {
    padding: 10px 10px;
    border-radius: 2px;
  }
  
  .param-id {
    padding: 20px;
    background-color: orange;
    color:black;
  }

 /* userprofile.css */

.UI-profile-container {
  text-align: center;
  background: #bd0808;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
}

hr {
  border: 1px solid #ccc;
  margin: 10px 0;
}

p {
  font-size: 18px;
}

.param-id {
  font-weight: bold;
  color: #007bff;
}
